{{#section "head"}}
    <link rel='stylesheet' href='{{@static_url}}/styles/swiper/swiper.min.css'/>
    <link rel='stylesheet' href='{{@static_url}}/styles/lobby/mainlobby.css'/>
{{/section}}

{{#section "foot"}}
    <script src="{{@static_url}}/scripts/swiper/swiper.min.js"></script>
    <script src="{{@static_url}}/scripts/lobby/mainlobby.js"></script>
{{/section}}

<div class="frm">
    <div class="topbar">
        <div class="">
            <span>点击直达</span>
        </div>
    </div>
    <div class="swiperBox">
        <div class="swiperscene">
            <!-- Swiper -->
            <div class="swiper-container gallery-top">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="ti">英灵召唤师</div>
                            <p><img src="{{@static_url}}/images/lobby/slider.png" alt=""></p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="ti">次于大作战</div>
                            <p><img src="{{@static_url}}/images/lobby/slider.png" alt=""></p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="ti">柠檬水福利社</div>
                            <p><img src="{{@static_url}}/images/lobby/slider.png" alt=""></p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="ti">小游戏</div>
                            <p><img src="{{@static_url}}/images/lobby/slider.png" alt=""></p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="ti">其它</div>
                            <p><img src="{{@static_url}}/images/lobby/slider.png" alt=""></p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="swiperguide">
            <!-- Swiper Guide-->
            <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="{{@static_url}}/images/lobby/lefttrain.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{@static_url}}/images/lobby/trainbody.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{@static_url}}/images/lobby/trainbody.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{@static_url}}/images/lobby/trainbody.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{@static_url}}/images/lobby/righttrain.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>